* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-image: url(20230507_114158.jpg);
    opacity: .6;

    width: 50%;
    height: 50%;
}

.box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;

}

.text {
    font-size: 2rem;
    text-align: center;
    margin-top: 30px;

}

div .one,
.two,
.three,
.four,
.five,
.six {
    width: 80px;
    height: 80px;
    background-color: #eee;
    margin-left: 10px;
    margin-top: 60px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
}

div .shape {
    width: 50px;
    height: 10px;
    background-color: #eee;
    margin-top: 120px;
}
.load{
display: flex;
justify-content: center;
display: none;




}
.load div{
width: 50px;
height: 50px;
border-radius: 50%;
background-color:rgb(118, 119, 119);
margin: 0 5px;
animation-name: up-and-down;
animation-duration: 0.9s;
animation-iteration-count: infinite;
animation-direction: alternate;
margin-top: 10%;

}
.load .two2{
animation-delay: 0.3s;
}
.load .three3{
animation-delay: 0.6s;
}
@keyframes up-and-down{
to{
    opacity: 0.2;
    transform: translatey(-20px);
}
}

@media (max-width:991px) {
    .container{
        width: 80%;
        height: 35%;
    }
}
@media (max-width:767px) {
    .container{
        width: 70%;
        height: 35%;
    }


    div .one,
    .two,
    .three,
    .four,
    .five,
    .six{
        width: 40px;
        height: 40px;
        margin-top: 30px;
    }
    div .shape {
        width: 30px;
        height: 5px;
 
        margin-top: 60px;
    }
    .box{
        font-size: 0.4rem;
    }
    .load div{
        width: 30px;
        height: 30px;
    }
    input{
        font-size: 20px !important;
            }
}
@media (max-width:500px) {
    .container{
        width: 87%;
        height: 32%;
    }
    
    div .one,
    .two,
    .three,
    .four,
    .five,
    .six{
        width: 35px;
        height: 35px;
        margin-top: 50px;
    }
    input{
        font-size: 15px !important;
            }
}